# Python for Scientific Research
# Built-in data types
# Answers to exercises

## Exercise 1

### 1. Use the `**`, `>` (or `<`) and `-` operators to show that `0.707` squared minus `0.5` is smaller than zero. The resulting value should be a `Boolean`

In [61]:
0.707**2 - 0.5  < 0

True

2. What logical operators would you use to obtain the third column of the following truth table? And what logical operators would you use to obtain the fourth column?


| `a` |  `b` | `??` | `??` |
|:-----------|:----------|:----------|:----------|
| `True` |`True` |`True`| `True`|
| `True` |`False` |`True`| `False`|
| `False` |`True` |`True`| `False` |
| `False` |`False` |`False`| `False` |

Answer:

| `a` |  `b` | `a or b` | `a and b` |
|:-----------|:----------|:----------|:----------|
| `True` |`True` |`True`| `True`|
| `True` |`False` |`True`| `False`|
| `False` |`True` |`True`| `False` |
| `False` |`False` |`False`| `False` |

## Exercise 2

(see the corrected truth table in the accompanying text of the original practical worksheet).

Does it matter whether you write `a or b or c` versus `a or (b or c)`? Write out a truth table.

Answer: no it does not matter. See the truth table below.

| `a` | `b` | `c` | `a or b` | `b or c` | `a or b or c` aka `(a or b) or c` | `a or (b or c)` |
:-----------|:----------|:----------|:-----------|:----------|:----------|:----------|
| `True` | `True` | `True` | `True`| `True` | `True` | `True` |
| `True` | `True` | `False` | `True`| `True` | `True` | `True` |
| `True` | `False` | `True` | `True` | `True` | `True` | `True` |
| `True` | `False` | `False` | `True` | `False` | `True` | `True` |
| `False` | `True` | `True` | `True` | `True` | `True` | `True` |
| `False` | `True` | `False` | `True` | `True` | `True` | `True` |
| `False` | `False` | `True` | `False` | `True` | `True` | `True` |
| `False` | `False` | `False` | `False` | `False` | `False` | `False` |

## Exercise 3

### 3.1 Create a few strings using single, double and triple quotes and experiment with the arithmetic operators `+` and `*`

In [62]:
a = 'single quoted string'
b = "double quoted string"
c = """This is a triple quoted string
It can include line breaks, awesome.
"""
print(a)
print(b)
print(c)
print("now some strings repeated using the * operator:")
print(c*3)
print("concatenate strings:")
print(a + b + c)

single quoted string
double quoted string
This is a triple quoted string
It can include line breaks, awesome.

now some strings repeated using the * operator:
This is a triple quoted string
It can include line breaks, awesome.
This is a triple quoted string
It can include line breaks, awesome.
This is a triple quoted string
It can include line breaks, awesome.

concatenate strings:
single quoted stringdouble quoted stringThis is a triple quoted string
It can include line breaks, awesome.

### 3.2 Use the created strings to perform relational operations on them

In [63]:
a == b

False

Relational operations on strings are based on so-called **lexographical ordering**: first the first two characters are compared, and if they differ this determines the outcome of the comparison; if they are equal, the next two characters are compared, and so on, until either sequence is exhausted. See point 5.8 in the [docs](https://docs.python.org/3/tutorial/datastructures.html#comparing-sequences-and-other-types) for a description of lexographical ordering. 

To give an example, let us compare the two strings of text `b` and `a` by using `b > a`:

In [64]:
b > a

False

This evaluates to `False` as the first character in `a` is `'s'`, while the first character in `b` is `'d'`. Because `'s'` occurs later in the alphabet than `'d'` we have `'s' > 'd'`

### 3.3 Create a long string and use the *slicing* operators to access different sets of characters

In [65]:
loongString = "waaaaahooooohaaaaaaah"
print(loongString[0::10])
print(loongString[-1:-20:-1])

woh
haaaaaaahooooohaaaa

### 3.4 Slice the string `Slicing is rather useful` in such a way that you obtain the string `useful`

In [66]:
sl = "Slicing is rather useful"
sl[-6:]

'useful'

### 3.5 Slice the string `Slicing is rather useful` in such a way that you obtain the string `eu`

There are several options here:

In [67]:
sl[15:19:3]

'eu'

In [68]:
sl[15::7]

'eu'

In [49]:
sl[-4:-7:-2]

'eu'

## Exercise 4

### 4.1 Create an `integer`, `float` and `string`, place them within a sentence and print to screen

In [55]:
var1 = 3
type(var1)

int

In [56]:
var2 = 3.910134
type(var2)

float

In [57]:
var3 = "some text"
type(var3)

str

In [59]:
print(f"We have an integer with value {var1}, a float with value {var2} and a string with value {var3}")

We have an integer with value 3, a float with value 3.910134 and a string with value some text

### 4.2 Create long floats and print them to screen using different decimal places

In [70]:
longFloat = 9.3847384798275223553

In [72]:
print(f"Print it with 4 digits: {longFloat:.4f} or 10 digits {longFloat:.10f}")

Print it with 4 digits: 9.3847 or 10 digits 9.3847384798

## Exercise 5

### 5.1 Recreate the mutable container data types examples above

In [74]:
geneTuple = ("Irf1", "Ccl3", "Il12rb1") # tuple of genes

### 5.2 Recreate the tuple error presented above

In [75]:
geneTuple[0] = "someGene"

TypeError: 'tuple' object does not support item assignment

### 5.3 find the names of the genes which occur either in `edgeR` or in `DESeq2` but not in both.

Reading the documentation about the methods and operators associated with `set`, we find that the operator `^` gives the symmetric difference: return a new set with elements in either the set or other but not both.

In [76]:
edgeR = set(["Irf1", "Ccl3", "Il12rb1", "Ccl4", "Hist1h2ah", "Iigp2", "Ifit3"]) # identified by edgeR
DESeq2 = set(["Irf1", "Ccl3", "Il12rb1", "Ifng", "Cxcl10"]) # identified by DESeq2
edgeR ^ DESeq2

{'Ccl4', 'Cxcl10', 'Hist1h2ah', 'Ifit3', 'Ifng', 'Iigp2'}